.overlay {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

#mobileSetupPrompt {
    background-color: white;
    margin: 1rem;
    padding: 2rem;
    border-radius: 1rem;
}

#mobileSetupPrompt h2 {
    margin-bottom: 1rem;
    text-align: center;
}

#mobileSetupPrompt p {
    margin-bottom: 1rem;
    line-height: 1.4;
}

#mobileSetupActions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

#mobileSetupConfirm {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: #4a9;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}